body {
    background:white;
    text-decoration:none;
}
.content{
  background:black;
  width:100%;
  height:300px;
  font-family:Times,Arial, Helvetica, sans-serif;
  color:white;
  
  
}
.lista{
 list-style:none;
 position:absolute;
 left:0;
 width: 100%;
}
p{
  text-align: center;
  font-size:27px;
}
ul{
  list-style:none;
  margin-top:50px;
  margin-left:30px;
}
li{
  padding:21px;
}
a{
  text-decoration:none;
  color:white;
}
.content img{
  overflow:hidden;
  float:right;
  width:100%;
  top:0;
  position: relative;
}
.imagens img{
  width:70px;
  top:105px;
  
}
.imagens {
  display:block;
  width:70px;
  height:70px;
  position:fixed;
  margin-left:10px;
}